<div class="login-register-box">
  <div class="flex-container">
    <h2 class="title">Log in</h2>
    <h3>Username/ E-mail</h3>
    <input type="text"/>
    <h3>Password</h3>
    <input type="text"/>
    <div class="container">
      <form>
        <input type="checkbox" class="keep-it-signed">
        <span>Keep me signed in</span>
      </form>
      <a href="#">Forgot password?</a>
    </div>
  </div>
  <div class="flex-center-container">
    <button>Sign in</button>
    <h4>Don't have an account?<span> Register</span></h4>
  </div>
<footer>
  <div class="flex-center-container">
<div class="container">
  <div class="line">
  </div>
  <h4 class="line-h4">Or using</h4>
  <div class="line">
  </div>
</div>
  </div>
  <div class="social-icons mb-3 iconpad text-center">
  <a  class="social-button gmail" ><fa-icon [icon]="faGmail"></fa-icon></a>
  <a  class="social-button microsoft"><fa-icon [icon]="faMicrosoft"></fa-icon></a>
  <a  class="social-button facebook"><fa-icon [icon]="faFacebook"></fa-icon></a>
  <a href="https://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s" target="_blank" class="social-button apple"><fa-icon [icon]="faApple"></fa-icon></a>
</div>
</footer>
</div>
