

h4
{
  height: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 0.745rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 span
{
  cursor: pointer;
  color: #2C6330;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a{
  color: #2C6330;
  text-align: right;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.relative-container
{
  height: 1px;
  width: 100%;
  background-color: black;
  padding: 0;
}


.line
{
  margin: 0;
  display: inline;
  width: 100%;
  background-color: black;
  height: 1px;
  position: relative;

}
.line-h4
{
  height: auto;
  margin: 0;
  width: 10rem;
}


.social-icons a {
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  color: #3d3d41;
  display: inline-block;
  line-height: 52px;
  text-align: center;
  height: 50px;
  width: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0px 15px;
  font-size: 22px;
  transition: 0.5s ease all;
}
.social-icons a:hover
{
  background-color: rgba(0,0,0,50%);
  color:white;

}

.social-icons a.facebook:hover
{
  filter: drop-shadow(0 0 0.75rem #4267b2);
}
.social-icons a.apple:hover
{
  filter: drop-shadow(0 0 0.75rem #3b3b3b);
}
.social-icons a.gmail:hover
{
  filter: drop-shadow(0 0 0.75rem #bb0939);
}
.social-icons a.microsoft:hover
{
  filter: drop-shadow(0 0 0.75rem #ffbb00);
}


.shadow-img1{

  background-repeat:no-repeat;
  background-position:bottom;
}

.shadow-img2{
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}
