
<div class="flex-center-container">
  <div class="container">
    <div class="line">
    </div>
    <h4 class="line-h4">Or using</h4>
    <div class="line">
    </div>
  </div>
</div>
<div class="social-icons mb-3 iconpad text-center">

  <div id="g_id_onload"
       data-client_id="1032558872733-v9evv1snk6l8es598b637nbo2bg1kqd0.apps.googleusercontent.com"
       data-context="signin"
       data-ux_mode="popup"
       data-itp_support="true"
       data-callback='test'

  >
  </div>

  <div class="g_id_signin"
       data-type="standard"
       data-shape="pill"
       data-theme="outline"
       data-text="signin_with"
       data-size="large"
       data-logo_alignment="left"

  >
  </div>


<!--  <a class="social-button microsoft"><fa-icon [icon]="faMicrosoft"></fa-icon></a>-->
<!--  <a class="social-button facebook"><fa-icon [icon]="faFacebook"></fa-icon></a>-->
<!--  <a [href]='isLogin?"http://www.youtube.com/watch?v=_XiOcsj3oNI&t=50s":"#"' target="_blank" class="social-button apple"><fa-icon [icon]="faApple"></fa-icon></a>-->
</div>


