<div class="fixed w-full z-20" title="container">


<div class=" bg-beige h-16 shadow-md caret-transparent w-full flex justify-start items-start" title="navbar">  <!--flex justify-between-->
  <div *ngIf="this.myAuthService.IsLogged()" class="my-auto left-0 mx-6 active:bg-gray-300 active:bg-opacity-35 active:rounded-full p-1 cursor-pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
    <div class="h-[0.2rem] w-7 bg-gray-600 m-1 rounded-1"></div>
    <div class="h-[0.2rem] w-7 bg-gray-600 m-1 rounded-1"></div>
    <div class="h-[0.2rem] w-7 bg-gray-600 m-1 rounded-1"></div>
  </div>
  <p class="LogoMark mx-6">VetNow</p>
  <ul *ngIf="!this.myAuthService.IsLogged()" id="theList">
    <li class="cursor-pointer hover:underline-offset-3 underline-">Features</li>
    <li class="cursor-pointer">Services</li>
    <li class="cursor-pointer">Locations</li>
  </ul>
  <button *ngIf="myAuthService.IsLogged()" type="button" class="btn btn-outline-danger m-auto" (click)="myAuthService.LogOut()">Sign out</button>
</div>
  <div class="offcanvas offcanvas-start w-auto" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel" >
    <div class="side-panel-open" title="sidebar">
  <div class="side-panel p-1 flex-col justify-between h-screen">
    <div class="contentOfSidebar">
      <div>
      <p class="LogoMark">VetNow</p>
      <div class="line-clamp-1 w-full bg-black h-[0.01rem] mt-4"></div>
      <ul class="list-none mx-6 my-4 text-cyan-600 flex flex-col justify-between items-center h-40">
        <li class="flex justify-start text-center w-full items-center m-auto link-hover gap-2"><fa-icon [icon]="faHome" class="text-xl w-8"></fa-icon><p>Home</p></li>
        <li class="flex justify-start text-center w-full items-center m-auto link-hover gap-2"><fa-icon [icon]="faEnvelope"  class="text-xl w-8"></fa-icon><p>Notifications</p></li>
        <li class="flex justify-start text-center w-full items-center m-auto link-hover gap-2"><fa-icon [icon]="faShop"  class="text-xl w-8"></fa-icon><p>My Station</p></li>
        <li class="flex justify-start text-center w-full items-center m-auto link-hover gap-2"><fa-icon [icon]="faUser"  class="text-xl w-8"></fa-icon><p>Profile Settings</p></li>
      </ul>
        <div class="h-full" title="schedule">
      <div class="line-clamp-1 w-full bg-black h-[0.01rem]"></div>
      <p class="Schedule text-center font-bold text-turquoise-blue my-3">My Schedule</p>
      <div class="line-clamp-1 mx-auto my-1 w-2/3 bg-gray-400 h-[0.01rem]"></div>
      <div class="rounded-2xl w-full h-60 my-3 bg-turquoise-blue"></div>
        </div>
        <h3 class="Schedule text-center text-turquoise-blue my-3 w-full flex justify-center items-center gap-1 cursor-pointer link-hover"><fa-icon [icon]="faGear"  class="text-xl w-8"></fa-icon>Manage</h3>
      </div>

      </div >
    <div class="mt-auto w-auto mx-6" title="FAQ">
      <div class="line-clamp-1 w-full bg-gray-600 h-[0.01rem]"></div>
      <p class="Schedule text-center font-extralight text-turquoise-blue my-2 cursor-pointer link-hover">FAQ</p>
    </div>
  </div>
</div>
</div>
</div>
