<div class="fixed w-full z-20">

<div class="topbar">
  <div class="hamburger" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <p class="LogoMark">VetNow</p>
  <ul id="theList">
    <li>Features</li>
    <li>Services</li>
    <li>Locations</li>
  </ul>
</div>
  <div class="offcanvas offcanvas-start w-auto" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel" >
    <div class="flex h-full side-panel-open">
  <div class="side-panel p-1">

    <div class="contentOfSidebar">
      <p class="LogoMark">VetNow</p>
      <div class="line-clamp-1 w-full bg-black h-[0.01rem] my-4"></div>
      <ul class="list-none mx-6 my-5 text-cyan-600 flex flex-col justify-between items-center h-40">
        <li class="w-full flex items-center justify-start gap-3 cursor-pointer"><fa-icon [icon]="faHome" class="text-xl w-8"></fa-icon><p>Home</p></li>
        <li class="w-full flex items-center justify-start gap-3 cursor-pointer"><fa-icon [icon]="faEnvelope"  class="text-xl w-8"></fa-icon><p>Notifications</p></li>
        <li class="w-full flex items-center justify-start gap-3 cursor-pointer"><fa-icon [icon]="faShop"  class="text-xl w-8"></fa-icon><p>My Station</p></li>
        <li class="w-full flex items-center justify-start gap-3 cursor-pointer"><fa-icon [icon]="faUser"  class="text-xl w-8"></fa-icon><p>Profile Settings</p></li>
      </ul>
      <div class="line-clamp-1 w-full bg-black h-[0.01rem]"></div>
      <p class="Schedule text-center font-bold text-turquoise-blue my-2">My Schedule</p>
      <div class="line-clamp-1 mx-auto my-1 w-2/3 bg-gray-400 h-[0.01rem]"></div>
      <div class="rounded-2xl w-full h-60 my-3 bg-turquoise-blue"></div>
      <div class="mt-auto">
      <div class="line-clamp-1 w-full bg-black h-[0.01rem]"></div>
      <p class="Schedule text-center font-extralight text-turquoise-blue my-2">FAQ</p>
    </div>
      </div>
  </div>
</div>
</div>
</div>
