
.box-shadow
{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.my-font
{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
  
}