

<div class="h-full">
  <div class="flex flex-col items-center justify-center gap-6 mx-24 my-6">
    <h1 class="text-5xl text-center my-font">GLAVNA VETERINARSKA STANICA ZALIK</h1>
    <div class="line-clamp-1 w-full bg-black h-[1px]"></div>
  </div>
  <div class="h-full flex flex-col justify-center mx-10 md:mx-40 lg:mx-72 my-auto ">
    <div class="shadow-2xl">
      <app-image-carousel></app-image-carousel>
    </div>
    <div class="h-full my-5">
      <app-service-swipper></app-service-swipper>
    </div>
    <div class="mb-10">
      <app-about-us-footer></app-about-us-footer>
    </div>
  </div>
</div>