<div class="w-80 h-96 bg-zinc-300 rounded-2xl card-container">
    <div class="w-80 h-36 bg-emerald-800 rounded-t-2xl flex justify-end items-end photo-section">
    </div>
    <div class="w-80 h-7 flex items-center justify-center bg-emerald-400 shadow-md location-distance"> 
        <span class="w-72 h-3 text-center text-white text-xs font-normal font-['Inter']">1km</span> 
    </div>
    
    <div class="m-3 flex justify-between h-3/5 flex-col desc-section">
        <div class="text-container">
            <h1 class="w-72 text-black text-xl font-semibold font-['Inter'] station-title">
                Vet Station name
            </h1>
            <h2 class="w-64 text-black text-base font-normal font-['Inter'] station-location">
                Location
            </h2>
            <div class="w-72 text-black text-xs font-normal font-['Inter'] station-details">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lorem lorem, iaculis vitae est mattis, hendrerit mattis urna.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            </div>
        </div>

        <div class="availabilities-work-type-container">
            <div class="flex gap-3 w-1/2 items-start availabilities-sec">
                <fa-icon class="w-3 h-4 text-black text-2xl font-normal font-['Inter']" [icon]="this.faP"></fa-icon>
                <fa-icon class="w-6 h-5 text-black text-xl font-black font-['Font Awesome 5 Free']" [icon]="this.faWifi"></fa-icon>
                <fa-icon class="w-6 h-5 text-black text-xl font-black font-['Font Awesome 5 Free']" [icon]="this.faWheelchair"></fa-icon>
            </div>
            <div class="flex w-1/2 gap-3 justify-end work-type-sec">
                <div class="w-16 h-7 p-1 bg-rose-modified rounded-lg  in-office-button text-center shadow-lg text-xs">In Office</div>
                <div class="w-16 h-7 p-1 bg-lightgreen-modified rounded-lg on-field-button text-center shadow-lg text-xs">On Field</div>
            </div>
        </div>
    </div>
</div>